<div class="container mx-auto mt-20">
  <div class="flex gap-16">
    <!-- Espaço reservado para a logo (opcional) -->
    <div class="w-2/4">
      <img src="https://i0.wp.com/maino.com.br/wp-content/uploads/2022/03/Emissao-de-notas-1.png?resize=1024%2C873&ssl=1" alt="Logo Maino" class="w-auto">
    </div>
    
    <!-- Conteúdo principal -->
    <div class="w-2/4">
      <!-- Espaço reservado para o resumo -->
      <div class="bg-white p-6 shadow-md rounded grid gap-4 grid-cols-1">
        <h2 class="text-2xl font-bold text-[#073b4c] mb-4">Resumo</h2>
        <p class="text-justify">Esta é uma aplicação robusta e eficiente que oferece uma solução completa para o gerenciamento e processamento de documentos XML fiscais. Com foco em segurança e praticidade, nossa aplicação inicia com um sistema de autenticação de usuário altamente seguro, utilizando a gem Devise, garantindo que apenas usuários autorizados possam acessar as funcionalidades da plataforma. Uma interface intuitiva permite que os usuários façam o upload de arquivos XML, incluindo a opção de processar múltiplos documentos de uma só vez através de um arquivo ZIP.</p>

        <p class="text-justify">O processamento dos documentos é realizado em background, utilizando a poderosa ferramenta Sidekiq, garantindo que a aplicação continue a funcionar de forma fluida enquanto as operações mais intensivas ocorrem de forma assíncrona. Após o processamento, a aplicação gera relatórios detalhados que extraem e exibem informações críticas dos documentos fiscais, como o número de série, número da nota fiscal, data e hora de emissão, além de dados completos sobre o emitente e o destinatário. Os produtos listados também são detalhados com informações sobre o nome, NCM, CFOP, unidade, quantidade comercializada e valor unitário, assim como os impostos associados, incluindo ICMS, IPI, PIS e COFINS. A aplicação ainda oferece totalizadores que resumem os valores totais dos produtos e impostos.</p>

        <p class="text-justify">Para facilitar a visualização e análise das informações, os relatórios gerados podem ser filtrados de acordo com critérios específicos, tornando a busca e o cruzamento de dados uma tarefa simples e eficiente. Além disso, os relatórios podem ser exportados em formato Excel, permitindo que os usuários compartilhem e analisem os dados fora da aplicação. Com um foco em qualidade e confiabilidade, a aplicação inclui testes automatizados utilizando RSPEC, garantindo que as funcionalidades principais estejam sempre funcionando conforme esperado.</p>
      </div>
    </div>
  </div>
</div>
