<div class="container mx-auto mt-20">
  <div class="flex gap-16">
    <div class="w-2/4">
      <img src="https://i0.wp.com/maino.com.br/wp-content/uploads/2022/03/Emissao-de-notas-1.png?resize=1024%2C873&ssl=1" alt="Logo Maino" class="w-auto">
    </div>
    
    <div class="w-2/4">
      <div class="bg-white p-6 shadow-md rounded grid gap-4 grid-cols-1">
        <h2 class="text-2xl font-bold text-[#073b4c] mb-4"><%= t('views.home.index.summary_title') %></h2>
        <p class="text-justify"><%= t('views.home.index.paragraph_1') %></p>
        <p class="text-justify"><%= t('views.home.index.paragraph_2') %></p>
        <p class="text-justify"><%= t('views.home.index.paragraph_3') %></p>
      </div>
    </div>
  </div>
</div>
